/*
Author: LeQuan Ly
Copyright: codekngswd 2018

This CSS File is dedicated to the Appointment Modal

https://www.w3schools.com/howto/howto_css_modals.asp
*/

/* Modal Page */
.appointmentPopupContainer {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 20vh;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8); 
}

/* Modal Container */
.appointmentPopupContent {
	background-color: #FFF;
	margin: auto auto;
	padding: 5vh;
	width: 60vw;
	
	/* Text Properties */
	color: #000;
}

/* Modal Content */
.appointmentPopupContent h1 {
	margin: 0;
	
	text-align: center;
}

.appointmentPopupContent table {
	width: 100%;
}

.appointmentPopupContent input {
	width: 100%;
}

.appointmentPopupContent button {
	display: block;
	margin: 0 auto;
}

/**
.appointmentPopupContent p {
	padding-top: 3vh;
}

.appointmentPopupContent input {
	padding-top: 2vh;
	width: 40vw;
	border: none;
	border-bottom: 1px solid #000;
	
	font-size: 2vh;
}
**/